@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.Razor.Views *@
@using System.Linq
@using DocNet.Core.Models.CSharp
@using DocNet.Core.Output.Html.Helpers
@using DocNet.Core.Output.Html.Views
@using DocNet.Razor.Helpers
@inherits BodyTemplate<ClassModel>

<!--Name-->
<p>
    <h3>Class</h3>
    <h1>@Model.DisplayName</h1>
    <h3>Namespace: @Model.FullNameQualifier</h3>
</p>

@PageSection.RenderDeclarationBlock(GetDeclaration.OfClass(Model))

@PageSection.RenderSummary(Model.DocComment)

@PageSection.RenderTypeParamTable(Model)

@if (Model.Constructors.Any()){
    <!--Constructors-->
    <p>
        <h3>Constructors</h3>
        <table class="table table-bordered table-hover">
            <tr>
                <td><b>Constructor Name</b></td>
                <td><b>Description</b></td>
            </tr>
            @foreach (ConstructorModel c in Model.Constructors){
                <tr>
                    <td>@c.Identifier</td>
                    <td>@if (c.DocComment != null){
                            @CommentTag.RenderSummary(c.DocComment.Summary)
                        }</td>
                </tr>
            }
        </table>
    </p>
}

@if (Model.Properties.Any()){
    <!--Properties-->
    <p>
        <h3>Properties</h3>
        <table class="table table-bordered table-hover">
            <tr>
                <td><b>Property Name</b></td>
                <td><b>Description</b></td>
            </tr>
            @foreach (PropertyModel p in Model.Properties){
                <tr>
                    <td>@p.Identifier</td>
                    <td>@if (p.DocComment != null){
                            @CommentTag.RenderSummary(p.DocComment.Summary)
                        }</td>
                </tr>
            }
        </table>
    </p>
}

@PageSection.RenderMethodTable(Model)

<!--Exceptions-->

@PageSection.RenderRemarks(Model.DocComment)

@PageSection.RenderExample(Model.DocComment)

@PageSection.RenderSeeAlso(Model.DocComment)
