@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.Razor.Views*@
@using DocNet.Core.Models.CSharp
@using DocNet.Core.Output.Html.Views
@using DocNet.Core.Models.Comments.Xml
@using DocNet.Core.Output.Html.Helpers
@using DocNet.Razor.Helpers
@inherits BodyTemplate<DelegateModel>

<!--Name-->
<p>
    <h3>Delegate</h3>
    <h1>@Model.DisplayName</h1>
    <h3>Namespace: @Model.FullNameQualifier</h3>
</p>

@PageSection.RenderDeclarationBlock(GetDeclaration.OfDelegate(Model))

@PageSection.RenderSummary(Model.DocComment)

@PageSection.RenderTypeParamTable(Model)

@if (Model.DocComment != null){

    <!--Returns-->
    <p>
        <h3>Returns</h3>
        @CommentTag.RenderReturns(Model.DocComment.Returns)
    </p>

    <!--Parameters-->
    <p>
        <h3>Parameters</h3>
        <table class="table table-bordered table-hover">
            @foreach (ParameterTag p in Model.DocComment.Parameters){
                <tr><td>@CommentTag.RenderParam(p)</td></tr>
            }
        </table>
    </p>

    <!--Exceptions-->
    <p>
        <h3>Exceptions</h3>
        <table class="table table-bordered table-hover">
            @foreach (ExceptionTag e in Model.DocComment.Exceptions){
                <tr><td>@CommentTag.RenderException(e)</td></tr>
            }
        </table>
    </p>
}

@PageSection.RenderRemarks(Model.DocComment)

@PageSection.RenderExample(Model.DocComment)

@PageSection.RenderSeeAlso(Model.DocComment)
