@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.Razor.Views*@
@using DocNet.Core.Models.CSharp
@using DocNet.Core.Output.Html.Views
@using DocNet.Core.Models.Comments.Xml
@using DocNet.Core.Output.Html.Helpers
@using DocNet.Razor.Helpers
@inherits BodyTemplate<DelegateModel>

<!--Name-->
<p>
    <h3>Delegate</h3>
    <h1>@Model.DisplayName</h1>
    <h3>Namespace: @Model.FullNameQualifier</h3>
</p>

@PageSection.RenderDeclarationBlock(GetDeclaration.OfDelegate(Model))

@PageSection.RenderSummary(Model.DocComment)

@PageSection.RenderTypeParamTable(Model)

@PageSection.RenderExceptionTable(Model.DocComment)

@PageSection.RenderReturnValueTable(Model)

@PageSection.RenderParameterTable(Model)

@PageSection.RenderRemarks(Model.DocComment)

@PageSection.RenderExample(Model.DocComment)

@PageSection.RenderSeeAlso(Model.DocComment)
