@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.Razor.Views*@
@using System.Linq
@using DocNet.Core.Models.CSharp
@using DocNet.Core.Output.Html.Helpers
@using DocNet.Core.Output.Html.Views
@using DocNet.Razor.Helpers
@inherits BodyTemplate<EnumModel>

@PageSection.RenderElementTitle(Model, "Enum")

@PageSection.RenderDeclarationBlock(GetDeclaration.OfEnum(Model))

@PageSection.RenderSummary(Model.DocComment)

@if (Model.Fields.Any()){
    <!--Members-->
    <p>
        <h3>Members</h3>
        <ul class="bulleted">
            @foreach (string s in Model.Fields){
                <li class="bulleted">@s</li>
            }
        </ul>
    </p>
}

@PageSection.RenderRemarks(Model.DocComment)

@PageSection.RenderExample(Model.DocComment)

@PageSection.RenderSeeAlso(Model.DocComment)
