@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.Razor.Views*@
@using System.Linq
@using DocNet.Core.Models.CSharp
@using DocNet.Core.Output.Html.Helpers
@using DocNet.Core.Output.Html.Views
@using DocNet.Razor.Helpers
@inherits BodyTemplate<InterfaceModel>

<!--Name-->
<p>
    <h3>Interface</h3>
    <h1>@Model.DisplayName</h1>
    <h3>Namespace: @Model.FullNameQualifier</h3>
</p>

@PageSection.RenderDeclarationBlock(GetDeclaration.OfInterface(Model))

@if (Model.DocComment != null){
    <!--Summary-->
    <p>@CommentTag.RenderSummary(Model.DocComment.Summary)</p>
}

@if (Model.Methods.Any()){
    <!--Methods-->
    <p>
        <table class="table table-bordered table-hover">
            @foreach (MethodModel m in Model.Methods){
                <tr>
                    <td>@m.Identifier</td>
                    <td>@if (m.DocComment != null){
                            @CommentTag.RenderSummary(m.DocComment.Summary)
                        }</td>
                </tr>
            }
        </table>
    </p>
}

@if (Model.DocComment != null){
    <!--Remarks-->
    <p>
        <h3>Remarks</h3>
        @{ CommentTag.RenderRemarks(Model.DocComment.Remarks); }
    </p>

    <!--See Also-->
    <p>
        <h3>See Also</h3>
        @CommentTag.RenderSeeAlso(Model.DocComment.SeeAlso)
    </p>
}