@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.Razor.Views*@
@using DocNet.Core.Models.CSharp
@using DocNet.Core.Output.Html.Views
@using DocNet.Core.Models.Comments.Xml
@using DocNet.Core.Output.Html.Helpers
@using DocNet.Razor.Helpers
@inherits BodyTemplate<MethodModel>

<!--Name-->
<p>
    <h3>Method</h3>
    <h1>@Model.DisplayName</h1>
    <h3>Namespace: @Model.FullNameQualifier</h3>
</p>

@PageSection.RenderDeclarationBlock(GetDeclaration.OfMethod(Model))

@PageSection.RenderSummary(Model.DocComment)

@PageSection.RenderTypeParamTable(Model)

@PageSection.RenderExceptionTable(Model.DocComment)

@if (Model.DocComment != null)
{


    if (Model.DocComment.Returns != null)
    {
        <!--Returns-->
        <p>
            <h3>Returns</h3>
            @CommentTag.RenderReturns(Model.DocComment.Returns)
        </p>
    }

    @PageSection.RenderParameterTable(Model)
}

@PageSection.RenderRemarks(Model.DocComment)

@PageSection.RenderExample(Model.DocComment)

@PageSection.RenderSeeAlso(Model.DocComment)
