@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.Razor.Views*@
@using DocNet.Core.Models.CSharp
@using DocNet.Core.Output.Html.Views
@using DocNet.Core.Models.Comments.Xml
@using DocNet.Core.Output.Html.Helpers
@using DocNet.Razor.Helpers
@inherits BodyTemplate<MethodModel>

<!--Name-->
<p>
    <h3>Method</h3>
    <h1>@Model.DisplayName</h1>
    <h3>Namespace: @Model.FullNameQualifier</h3>
</p>

@PageSection.RenderDeclarationBlock(GetDeclaration.OfMethod(Model))

@if (Model.DocComment!=null){
    <!--Summary-->
    <p>@CommentTag.RenderSummary(Model.DocComment.Summary)</p>

    <!--Type Parameters-->
    <p>
        <h3>Type Parameters</h3>
        <table class="table table-bordered table-hover">
            @foreach (TypeParameterTag t in Model.DocComment.TypeParameters){
                <tr><td>@CommentTag.RenderTypeParam(t)</td></tr>
            }
        </table>
    </p>

    <!--Returns-->
    <p>
        <h3>Returns</h3>
        @CommentTag.RenderReturns(Model.DocComment.Returns)
    </p>

    <!--Parameters-->
    <p>
        <h3>Parameters</h3>
        <table class="table table-bordered table-hover">
            @foreach (ParameterTag p in Model.DocComment.Parameters){
                <tr><td>@CommentTag.RenderParam(p)</td></tr>
            }
        </table>
    </p>

    <!--Exceptions-->
    <p>
        <h3>Exceptions</h3>
        <table class="table table-bordered table-hover">
            @foreach (ExceptionTag e in Model.DocComment.Exceptions){
                <tr><td>@CommentTag.RenderException(e)</td></tr>
            }
        </table>
    </p>

    <!--Remarks-->
    <p>
        <h3>Remarks</h3>
        @CommentTag.RenderRemarks(Model.DocComment.Remarks)
    </p>

    <!--Example-->
    <p>
        <h3>Example</h3>
        @CommentTag.RenderExample(Model.DocComment.Example)
    </p>

    <!--See Also-->
    <p>
        <h3>See Also</h3>
        @CommentTag.RenderSeeAlso(Model.DocComment.SeeAlso)
    </p>
}