@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.Razor.Views*@
@using DocNet.Core.Models.CSharp
@using DocNet.Core.Output.Html.Views
@using DocNet.Core.Models.Comments.Xml
@using DocNet.Core.Output.Html.Helpers
@using DocNet.Razor.Helpers
@inherits BodyTemplate<MethodModel>

<!--Name-->
<p>
    <h3>Method</h3>
    <h1>@Model.DisplayName</h1>
    <h3>Namespace: @Model.FullNameQualifier</h3>
</p>

@PageSection.RenderDeclarationBlock(GetDeclaration.OfMethod(Model))

@PageSection.RenderSummary(Model.DocComment)

<!--Type Parameters-->
@if (Model.DocComment != null)
{
    if (Model.DocComment.TypeParameters != null)
    {
        <p>
            <h3>Type Parameters</h3>
            <table class="table table-bordered table-hover">
                @foreach (TypeParameterTag t in Model.DocComment.TypeParameters)
                {
                    <tr><td>@CommentTag.RenderTypeParam(t)</td></tr>
                }
            </table>
        </p>
    }

    if (Model.DocComment.Returns != null)
    {
        <!--Returns-->
        <p>
            <h3>Returns</h3>
            @CommentTag.RenderReturns(Model.DocComment.Returns)
        </p>
    }
    <!--Parameters-->
    <p>
        <h3>Parameters</h3>
        <table class="table table-bordered table-hover">
            @foreach (ParameterTag p in Model.DocComment.Parameters){
                <tr><td>@CommentTag.RenderParam(p)</td></tr>
            }
        </table>
    </p>

    <!--Exceptions-->
    <p>
        <h3>Exceptions</h3>
        <table class="table table-bordered table-hover">
            @foreach (ExceptionTag e in Model.DocComment.Exceptions){
                <tr><td>@CommentTag.RenderException(e)</td></tr>
            }
        </table>
    </p>

    <!--Remarks-->
}

@PageSection.RenderRemarks(Model.DocComment)

@PageSection.RenderExample(Model.DocComment)

@PageSection.RenderSeeAlso(Model.DocComment)