@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.Razor.Views*@
@using System.Linq
@using DocNet.Core.Models.CSharp
@using DocNet.Core.Output.Html
@using DocNet.Core.Output.Html.Views
@using DocNet.Razor.Helpers
@inherits BodyTemplate<NamespaceBase>

@PageSection.RenderElementTitle(Model, "Namespace")

@if(Model.ChildNamespaces != null && Model.ChildNamespaces.Any())
{
    @PageSection.RenderSectionTitle("Namespaces")
    <p>
        <table class="table table-bordered table-hover">
            <tr>
                <th>Name</th>
            </tr>
            @foreach(var childNamespace in Model.ChildNamespaces)
            {
                <tr>
                    <td>@PageHelper.RenderElementLink(childNamespace)</td>
                </tr>
            }
        </table> 
    </p>
}

@PageSection.RenderInterfaceTable(Model)

@PageSection.RenderClassTable(Model)

@PageSection.RenderStructTable(Model)

@PageSection.RenderEnumTable(Model)

@PageSection.RenderDelegateTable(Model)
