@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.Razor.Views*@
@using System.Linq
@using DocNet.Core.Models.CSharp
@using DocNet.Core.Output.Html.Views
@using DocNet.Razor.Helpers
@inherits BodyTemplate<NamespaceBase>

<!--Name-->
<p><h1>@Model.FullDisplayName</h1></p>

@if (Model.Classes.Any()){
    <!--Classes-->
    <p>
        <h3>Classes</h3>
        <table class="table table-bordered table-hover">
            <tr>
                <td><b>Class Name</b></td>
                <td><b>Description</b></td>
            </tr>
            @foreach (ClassModel c in Model.Classes){
                <tr>
                    <td>@c.Identifier</td>
                    <td>@if (c.DocComment != null){
                            @{CommentTag.RenderSummary(c.DocComment.Summary);}
                        }</td>
                </tr>
            }
        </table>
    </p>
}

@if (Model.Structs.Any()){
    <!--Structures-->
    <p>
        <h3>Structures</h3>
        <table class="table table-bordered table-hover">
            <tr>
                <td><b>Structure Name</b></td>
                <td><b>Description</b></td>
            </tr>
            @foreach (StructModel s in Model.Structs){
                <tr>
                    <td>@s.Identifier</td>
                    <td>@if (s.DocComment != null){
                            @{CommentTag.RenderSummary(s.DocComment.Summary);}
                        }</td>
                </tr>
            }
        </table>
    </p>
}

@if (Model.Delegates.Any()){
    <!--Delegates-->
    <p>
        <h3>Delegates</h3>
        <table class="table table-bordered table-hover">
            <tr>
                <td><b>Delegate Name</b></td>
                <td><b>Description</b></td>
            </tr>
            @foreach (DelegateModel d in Model.Delegates){
                <tr>
                    <td>@d.Identifier</td>
                    <td>@if (d.DocComment != null){
                            @{CommentTag.RenderSummary(d.DocComment.Summary);}
                        }</td>
                </tr>
            }
        </table>
    </p>
}

@if (Model.Enums.Any()){
    <!--Enumerations-->
    <p>
        <h3>Enumerations</h3>
        <table class="table table-bordered table-hover">
            <tr>
                <td><b>Enum Name</b></td>
                <td><b>Description</b></td>
            </tr>
            @foreach (EnumModel e in Model.Enums){
                <tr>
                    <td>@e.Identifier</td>
                    <td>@if (e.DocComment != null){
                            @{CommentTag.RenderSummary(e.DocComment.Summary);}
                        }</td>
                </tr>
            }
        </table>
    </p>
}