@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.Razor.Views*@
@using DocNet.Core.Models.CSharp
@using DocNet.Core.Output.Html.Helpers
@using DocNet.Core.Output.Html.Views
@using DocNet.Razor.Helpers
@inherits BodyTemplate<PropertyModel>

@PageSection.RenderElementTitle(Model, "Property")

@PageSection.RenderDeclarationBlock(GetDeclaration.OfProperty(Model))

<!--Type-->
<p><h2>Type: @Model.TypeName</h2></p>

@PageSection.RenderSummary(Model.DocComment)

@PageSection.RenderExceptionTable(Model.DocComment)

@PageSection.RenderRemarks(Model.DocComment)

@PageSection.RenderExample(Model.DocComment)

@PageSection.RenderSeeAlso(Model.DocComment)
